* {
margin: 0;
padding: 0;
scroll-behavior: smooth;
}
body{
    background: #0a192f;
    color: #ffffff;
    font-family: fantasy;
    background-image: url('https://thumbs.gfycat.com/FewWhimsicalCassowary-size_restricted.gif');
    background-size: cover;
    height: 100vh;
    font-weight: 25px;
}
.nef{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
}
#logo{
    color: #64ffda;
    border: 2px solid rgba(129, 171, 223, 0.86);
    border-radius: 50%;
    padding: 5px;
    width: 100px;
    background-color: rgba(212, 158, 87, 0.283);
    
}
.nef .left{
    width: 50px;
    
}
.nef .right{
    display: flex;
    align-items: center;
}
.nef .right a{
    margin-right: 20px;
    text-decoration: none;
    color: #ccd6f6;
}
.nef .right div .num{
    color: #64ffda;
}
.but {
    color: #64ffda;
    background: none;
    border: 1px solid #64ffda;
    padding: 10px;
    border-radius: 3px;
    margin-left: 10px;
    font-family: monospace;
    font-size: 12px;
}
.l-page{
    height: 70vh;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.heading3{
    color: #ccd6f6;
}
.heading1{
    font-size: 85px;
    margin: 10px 0;
}
.heading2{
    margin: 10px 0;
    font-size: 35px;
}
.disc{
    width: 60%;
    margin-bottom: 20px;
    margin: 10px 0;
    font-size: 20px;
}
.abt-page{
    height: 100vh;
    display: flex;
    padding: 40px;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.abt-page .left{
    width: 50%;
    margin-right: 30px;
}
.abt-page .left .al-nef{
    font-size: 30px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.al-nef .line{
    height: 1px;
    
    margin-bottom: 20px;
    background: rgb(58, 50, 50);
}
.al-nef .al-desc{
    width: 600px;
}
#pp{
    width: 270px;
    
    border-radius: 50%;
    border: 2px solid rgb(180, 31, 31);
    
}
.acv-page{
    height: 100vh;
    display: flex;
    padding: 40px;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.acv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    border: 2px solid rgb(129, 171, 223); 
    text-align: center;
    transition: cubic-bezier(0.165s, 0.84, 0.44, 1);
    border-radius: 20px;
    font-size: 18px;
    margin: 10px 0;
   

}
.wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.acv:hover{
    background: #444c6674;
}
.acv-page .left{
    width: 50%;
    margin-right: 30px;
}
.acv-page .left .al-nef{
    font-size: 30px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.al-nef .line{
    height: 1px;
    
    margin-bottom: 20px;
    background: rgb(58, 50, 50);
}
.work{
    
    display: flex;
    padding: 40px;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.work .left{
    width: 50%;
    margin-right: 30px;
}
.work .left .al-nef{
    font-size: 30px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
#car{
    width: 300px;
}
.al-nef .line{
    height: 1px;
    
    margin-bottom: 20px;
    background: rgb(58, 50, 50);
}
.contact{
    
    display: flex;
    padding: 40px;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.contact .left{
    width: 50%;
    margin-right: 30px;
}
.contact .left .al-nef{
    font-size: 30px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.al-nef .line{
    height: 1px;
    
    margin-bottom: 20px;
    background: rgb(58, 50, 50);
}
input[type=text], select, textarea {
width: 100%; 
padding: 12px 0; 
border: 1px solid #ccc; 
border-radius: 4px; 
box-sizing: border-box; 
margin-top: 6px; 
margin-bottom: 16px;
resize: vertical;
}
input[type=submit] {
background-color: #04AA6D;
color: rgba(255, 255, 255, 0.472);
padding: 12px 20px;
border: none;
border-radius: 4px;
cursor: pointer;

}
input[type=submit]:hover {
background-color: #45a049;
    
}
.container {
display: flex;
flex-direction: column;
border-radius: 20px;
background-color: transparent;
padding: 20px;
margin: 20px;
margin-top: 10px;
background: #ccd6f62e;
}
.al-desc{
    padding: 10px;
}